.product-image
{
    width: 90px;
    height: 120px;
}

.card
{
    width: 240px;
    height: 320px;
    margin: 10px;
    border: 1px solid rgb(245, 30, 15);
    border-radius: 8px;
    padding: 10px;
    box-shadow: 1px 2px 3px rgb(169, 13, 2);
    
}

.product-title
{
    height: 55px;
    flex-wrap: nowrap;
    font-size: 16px;

}

.card:hover{
    box-shadow: 2px 3px 4px 5px rgb(135, 11, 2);
    transition: all 0.6s;
    
}

.product-button
{
    background-color: rgb(255, 124, 115);
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    border: none;
}

.product-button:hover
{
    background-color: rgb(171, 171, 171);
    transition: all 0.6s;
}

.product-button:active
{
    background-color: rgb(86, 85, 85);
}